/* regole generali */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

 main{
  /* height: calc(100vh - ( 100px )); */
  display: flex;
}
img{
  width: 100%;
  height: auto;
}
span{
  color: #fff;
}
a{
  text-decoration: none;
}

h2{
  color:white;
  font-size: 20px;
}
h5{
  color:white;

}
h4{
  color: gray;
  font-size: 8px;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}



/* regole filtri */
#logo:hover{
  cursor: pointer;
  filter: opacity(50%);
}
.home-box a:hover{
  cursor: pointer;
  filter: opacity(50%);
  border-bottom: 2px solid lightgreen;
}
.profilo-box-down a:hover{
  cursor: pointer;
  filter: opacity(50%);
}
.nav-song a:hover{
  cursor: pointer;
  filter: opacity(50%);
  border-bottom: 2px solid lightgreen;
}
.navbar-upgrade a:hover{
  cursor: pointer;
  border-bottom: 2px solid lightgreen;
}
.subtitle-playlist-box a:hover{
  cursor: pointer;
  filter: opacity(50%);
}
.subtitle-playlist-box a i:hover{
  color: lightgreen;
}
#hover-install:hover{
  cursor: pointer;
  filter: opacity(50%);
}
.col:hover #img-played {
  cursor: pointer;
  filter: sepia(90%);
}
#img-artist:hover{
  cursor: pointer;
  filter: sepia(90%);
}
.rewind-box i:hover{
  cursor: pointer;
  filter: opacity(50%);
}
.icon-box1 a:hover{
  cursor: pointer;
  filter: opacity(50%);
}
.name-song-active a:hover{
  cursor: pointer;
  filter: opacity(50%);
}
.col-right a:hover{
  cursor: pointer;
  filter: opacity(50%);
}
.middle {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle i{
  color:#fff;
  transform: scale(2.5)
}
.col:hover .middle{
  opacity: 1;
}
/* regole pagina */

/* proprietà main */

/* proprietà NAVBAR */
.container-xl-navbar{
width: 180px;
height: calc(100vh - ( 100px ));
/* border: solid 1px #000; */
background-color: #040404;
display: flex;
flex-direction:column;
}
.container-xs-navbar{
  display:none;
  width:40px;
  height: calc(100vh - ( 100px ));
  /* border: solid 1px #000; */
  background-color: #040404;
  display: flex;
  flex-direction: column;
}
.up{
  /* border: 1px solid white; */
  height: calc(100% - 50px);
  padding: 0 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;

  }
.down{
  /* border: 1px solid white; */
  height: 50px;
  padding: 0 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;

}
.playlist-box,.home-box,.logo{
  padding: 20px 2px;
  flex-shrink: 2;
}
.title-playlist-box{
  margin-bottom: 20px;
}
.subtitle-playlist-box{
  display: flex;
  justify-content: space-around;
}
.home-img, .search-img, .library-img{
  line-height: 30px;
}
#logo{
  width: 60%;
  height: auto;
}
#logo-small{
  width: 25px;
  height: auto;
}
.name-playlist-box{
  /* border: solid 1px white; */
  margin-top: 10px;
  height: 250px;
  overflow:auto;
  flex-shrink: 1;
}
ul.playlist li{
  color: white;
  padding: 6px 0;
}

.install-box{
  /* border: solid 1px white; */
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  min-height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.profilo-box,.profilo-box-down, .row-box a{
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hr-install{
  height: 2px;
  background-color:white;
  margin: 5px 0;
}
/* proprietà corpo pagina */
.container-main{
width: calc(100% - 180px);
height: calc(100vh -  100px );
border: solid 1px #000;
background-color: #1e213d;
display: flex;
}
.navbar-upgrade{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid white; */
  height: 100px;
  width: calc(100% - 180px);
  background-color:#121212;
  filter: opacity(65%);
}
.btn-box{
  height: 100px;
  width: 300px;
  /* background-color: white; */
  padding-right: 15px;
  line-height: 99px;
  text-align: right;
  /* border: 1px solid white; */
  }

.btn-upgrade{
height: 50px;
padding: 2% 3%;
color: white;
border-radius: 25px;
border: 1px solid white;
}


/*proprieta corpo centrale  */

/* proprieta navbar song */
.container-song{
  margin-top: 100px;
  width: 100%;
  height: calc(100vh - 200px );
  border: solid 1px #000;
  overflow: auto;
}
.nav-song{
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.nav-song-items {
  font-size: 8px;
  padding: 0 1px;
  display: inline-block;
}
.nav-song-items a  {
text-decoration: none;
color: white;
}

/* proprietà contenitore img */
.song-played{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 15px 0;
}
.title-played{
  margin: 0 2%;
  color: white;
}
.title-song,.subtitle-song{
  margin: 5px 0;
  color: white;
  display: flex;
  justify-content: center;
}
.subtitle-song{
  font-size: 8px;
  color: gray;
}
#img-played{
  max-width: 200px;
  max-height: auto;
}
.container-played,.container-playlist,.container-popular{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-playlist-played{
  display: flex;
  justify-content: flex-start;
  padding: 15px 0;
}
.col{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2%;
}
.title-playlist, .subtitle-playlist{
  margin: 10px 2%;
  color:white;
}

/* proprietà sezione artisti */
#img-artist{
  border-radius: 50% 50%;
  max-width: 200px;
  max-height: auto;
}


/* proprietà footer */
.container-footer{
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: 	#212121;
  display: flex;
  justify-content: space-between;
}
.col-left,.col-right{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid white; */
  width: 20%;
  height: 100px;
}
.col-right{
  min-width: 20%;
  height: 100px;
}
#img-song-active{
  max-width: 50px;
  max-height: auto;
}
.name-song-active{
  float: left;
}

.col-central{
  min-width: 40%;
  /* border: 1px solid white; */
}
i{
  color: #b3b3b3;
}
.hr{
  height: 4px;
  background-color: #b3b3b3;
  border-radius: 10px;
  width: 40%;
}
.rewind-box, .timeline-box{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rewind-box{
  width: 50%;
  margin: 20px auto;
}
.big{
  transform: scale(2);
}
.timeline-box{
  width:80%;
  margin: 20px auto;
}
.hr-time{
  height: 4px;
  background-color: #b3b3b3;
  border-radius: 10px;
  width: 65%;
}
.time-stay,.time-total{
  font-size: 10px;
  color: #fff;
}
/* Proprietà responsive */

/* XS MOBILE: */

@media screen and (max-width: 576px){

  .container-xl-navbar{
    display: none;
  }
  .container-xs-navbar{
    display: block;

  }
  .container-main{
  width: calc(100% - 40px);
  }
  .navbar-upgrade{
    width: calc(100% - 40px);;
  }
  a.btn-upgrade  {
    width: 50%;
  }
  .col{
    width: 40%;
    height:auto;
    margin: 0 3%;
  }

  .col-right,.col-left{
    font-size: 40%;
  }
  .col-right{
    width: 30%
  }
  .col-left{
    width: 20%
  }
  .name-song-active h2{
    font-size: 10px;
  }
  .name-song-active h4{
    font-size: 7px;
  }
  .col-left img{
    display: none;
  }
  .col-central{
    font-size: 50%;
    width:40%;
  }
  .rewind-box{
    width: 80%;
  }
  .timeline-box {
    width: 95%
  }
}


@media screen and (min-width: 577px){
  .container-xs-navbar{
    display: none;
  }
}


/* responsive s */
@media screen and (min-width: 578px) and (max-width: 768px){
  .col-right,.col-central,.col-left{
    font-size: 50%;
  }
  .col-right{
    width: 30%
  }
  .col-left{
    width: 25%
  }
  .name-song-active h2{
    font-size: 12px;
  }
  .name-song-active h4{
    font-size: 8px;
  }
  .col-central{
    width:45%;
  }
  .col{
    width: 44%;
    height:auto;
    margin: 0 3%;
  }
  .icon-box1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
/* responsive md */
@media screen and (min-width: 769px) and (max-width: 992px){
  .col{
    width: 20%;
    height:auto;
    margin: 0 2%;
  }
  .col-right{
    width: 30%
  }
  .col-left{
    width: 20%
  }
  .name-song-active h2{
    font-size: 12px;
  }
  .name-song-active h4{
    font-size: 8px;
  }
  .col-central{
    width:50%;
  }
}

/* responsive lg*/
@media screen and (min-width: 993px) {
  #img-song-active{
    max-width: 80px;
    max-height: auto;
  }
  .col{
    width: 14%;
    height:auto;
    margin: 0 1%;
  }
  .col-right{
    max-width: 30%;
  }
  .col-left{
    max-width: 20%;
  }
  .col-central{
    width:50%;
  }
}
